/*===========body================*/
body {
    background:#e9e7ea;
    height:0;
}

.textGreen {
    color: #8a9f3b;
}
.textOrange {
    color: #de6c26;
}
.textBlue {
    color: #019bd8;
}

.textCenter {
    text-align:center;
}

/*===========navigation bar================*/
.pdcaHead, .pdcaFoot {
    background: #59595b;
    border-style: none;
/*    box-shadow: 0 -3px 30px black;*/
    
    -webkit-box-shadow: inset 0 2px 20px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 2px 20px rgba(0,0,0,.5);
    box-shadow: inset 0 2px 20px rgba(0,0,0,.5);
}

/*=================menu===========*/
/*putting menu button in middle*/
.navbar-toggle {
    margin-top: 3em;
}
.navbar-nav > li > .dropdown-menu {
    border-style: none;
    background: #e9e7ea;
}
.dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a{
    background: #8a9f3b;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background: #59595b;
}

.nav .caret,
.nav a:hover .caret,
.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret, 
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #8a9f3b;
    border-bottom-color: #8a9f3b;
}

/*changing menu text color*/
.navbar-inverse .navbar-nav > li > a {
    color: #8a9f3b;
    font-weight: bold;
    font-size: 1.12em;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:visited,
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus{
    color: #8a9f3b;
    background: #e9e7ea;
}

.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus,
.dropdown-menu > li > a {
     color: #8a9f3b;  
     background: #e9e7ea;
    font-weight: bold;
}

@media (min-width: 768px) {
  .navbar-right {
    padding-top:5.56em;
  }
  
  .fixedMenu .navbar-right {
    padding-top:0;
  }  
  .fixedMenu .navbar > .container .navbar-brand {
    height: 2em;
  }
  .fixedMenu .navbar > .container .navbar-brand img {
    height:100%;
    margin-top: -0.25em;
  }  
  
}

@media (max-width: 767px) {
  .fixedMenu .navbar-toggle {
    margin-top:0.55em;
  }  
  .fixedMenu .navbar > .container .navbar-brand {
    height: 2.7em;
  }
  .fixedMenu .navbar > .container .navbar-brand img {
    height:100%;
    margin-top: -0.25em;
  }  
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    font-weight: bold;
    color: #8a9f3b;
  }
  
}

/*=========================fixed menu==============*/
.fixedMenu #myCarousel{
    margin-top: 10.45em;
}

/*==================body======================*/

.img-circle-main {
    max-width: 26em;
    height: 9em;
}
#newsCarousel .img-circle-main {
    width: 9em;
}

/*=====================footer===========================*/

/*changing menu text color*/
.navbar-inverse .navbar-nav > li > a.footerIcons {
    padding-top: 0.35em;
    padding-bottom: 0.65em;
}
.logoFooter {
    padding-top: 0.3em;
}
@media (max-width: 768px) {
  /*changing menu text color*/
    .navbar-inverse .navbar-nav.iconList > li {
        float: left;
    }
    .navbar-inverse .navbar-nav.iconList {
        float: left !important;
    }
  
}

